/*
~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~
    annotation-cache/downloadvepcache modules config
~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~
    Process-specific configuration for pipeline modules.
----------------------------------------------------------------------------------------
*/

process {
    withName: 'ENSEMBLVEP_DOWNLOAD' {
        ext.args         = '--AUTO c --CONVERT --NO_BIOPERL --NO_HTSLIB --NO_TEST --NO_UPDATE'
        ext.prefix       = { "${params.vep_cache_version}_${params.vep_genome}" }
        publishDir       = [
            mode: params.publish_dir_mode,
            path: { "${params.outdir}/" }
        ]
    }
    withName: 'FETCH_EXPECTED_CHROMOSOMES' {
        publishDir = [
            enabled: false
        ]
    }
    withName: 'VERIFY_TARBALL_CHECKSUM' {
        ext.prefix = { "${params.vep_cache_version}_${params.vep_genome}" }
        publishDir = [
            mode: params.publish_dir_mode,
            path: { "${params.outdir}/" }
        ]
    }
    withName: 'VALIDATE_VEP_CACHE' {
        publishDir = [
            [
                mode: params.publish_dir_mode,
                path: { "${params.outdir}/" },
                pattern: "manifest.md5"
            ],
            [
                mode: params.publish_dir_mode,
                path: { "${params.outdir}/pipeline_info/" },
                pattern: "validation_report.txt"
            ]
        ]
    }
}
